.game {
	box-sizing: border-box;
	padding: 30px;
	background-color: #40f3a0;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05)
}

.game .container {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: #2ac07a;
	box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}